<!DOCTYPE html>
<html>
<head>
<title>Frooday! | <%= @title %> </title>
<%= csrf_meta_tag %>
<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>

</head>
<body>
<div id="links">
<ul>
<li><%=  link_to "Merchant Home", new_merchant_path %></li>
<li><%= link_to "Merchants Signin", signin_path %></li>
<li><%= link_to "Merchants Signout", signout_path %></li>
</ul>
</div>
<%=yield %>
</body>
</html>
